.container{
    border: 3px solid lightgray;
    height: 90vh;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.box{
    width: 50px;
    height: 50px;
    background-color: orange;
}

/* ----------  */

.container1{
    border: 3px solid lightgray;
    height: 90vh;
    display: grid;
    grid-template: repeat(3, 100px) / repeat(2, 100px);
    gap: 5px;
    /* row-gap: 5px;
    column-gap: 5px; */
}
.box1{
    width: 100px;
    height: 100px;
    background-color: orange;
}


/* ------------ */

.container2{
    border: 3px solid lightgray;
    height: 90vh;
    display: grid;
    grid-template: repeat(3, 100px) / repeat(2, 100px);
    gap: 5px;
    /* row-gap: 5px;
    column-gap: 5px; */
}
.box2{
    width: 100px;
    height: 100px;
    background-color: orange;
}

.box11{
    grid-column: 2;
    grid-row: 2;
}

.box22{
    grid-column: 2;
}


/* ------------ */

.container3{
    border: 3px solid lightgray;
    height: 90vh;
    display: grid;
    grid-template-rows: 100px 100px;
    grid-template-columns: 20fr 40fr 30fr;
    gap: 5px;
}
.box3{
    background-color: orange;
}

/* .box111{
    grid-column: 1/-1;
}

.box222{
    grid-column: 1/-1;
} */

/* -------------------------------------------------------------- */
* {
    padding: 10px;
    text-align: center;
    margin: 14px;
    border-radius: 10px;
  }
  
  .header {
    background-color: red;
    padding: 24px;
  }
  
  .main {
    background-color: rgb(20, 118, 151);
  }
  
  .aside1 {
    background-color: yellow;
  }
  
  .aside2 {
    background-color: pink;
  }
  
  .footer {
    background-color: lightgreen;
  }
  
  @media (min-width: 800px) {
    .container {
      margin: 0px;
      padding: 0px;
      display: grid;
      grid-template-columns: 20fr 60fr 20fr;
    }
  
    .header {
      grid-column: 1/-1;
    }
    .aside1 {
      grid-column: 1/2;
      grid-row: 2;
    }
    .aside2 {
      grid-column: 3/4;
      grid-row: 2;
    }
  
    .main {
      grid-column: 2/3;
    }
  
    .footer {
      grid-column: 1/-1;
    }
  }
  
  @media (min-width: 600px) and (max-width: 800px) {
    .container {
      margin: 0px;
      padding: 0px;
      display: grid;
      grid-template-columns: 50fr 50fr;
    }
  
    .header {
      grid-column: 1/-1;
    }
  
    .main {
      grid-column: 1/-1;
    }
  
    .footer {
      grid-column: 1/-1;
    }
  }