/* Задание 1*/
.div1 {
    width: 0;
    height: 0;
    border-bottom: 100px solid black;
    border-left: 50px solid white;
    border-right: 50px solid white;
}



/* Задание 2*/
.div2 {
    width: 300px;
    height: 300px;
    background-color: red;
    border-top: 100px solid rgb(40, 24, 145);
    border-bottom: 100px solid black;
    border-left: 50px solid rgb(149, 51, 155);
    border-right: 50px solid rgb(177, 187, 45);
}



/* Задание 3*/
table{
    border-collapse: collapse;
}
td, th{
    padding: 10px;
}
thead {
    color: white;
    background-color: rgb(21, 79, 130);
    text-align: left; 
}
tbody{
    text-align: left; 
}
tbody tr:nth-child(odd){
    background-color: rgb(207, 231, 253);
    text-align: left; 
}
tfoot {
    color: white;
    background-color: rgb(21, 79, 130);
    text-align: left; 
}


/* Задание 4*/
p {
    display: inline-block;
    border: 1px solid black;
    margin: 16px;
    padding: 10px;
}
body{
    border: 1px solid rgb(63, 13, 229);
}

html{
    border: 1px solid rgb(245, 26, 26);
    margin: 16px;
}



/* Задание 5*/
.div3 {
    width: 300px;
    height: 300px;
    background-color: rgb(113, 43, 43);
    /*display: flex;*/
}
.div3>div {
    display: inline-block;
    margin-right: -5px;
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    border: 1px solid black;
}

/*
.div3 {
    width: 300px;
    height: 300px;
    background-color: rgb(113, 43, 43);
    
}

.div3::before {
    content: "box1";
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    border: 1px solid black;
    display:flex;
}

.div3::after {
    content: "box2";
    width: 50px;
    height: 50px;
    background-color: yellowgreen;
    border: 1px solid black;
    display:flex;
}

}*/